{% extends 'IngenieriaEstudianteBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB  [Profesor]
{% endblock %}

{% block js  %}
{% endblock %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Actividades complementarias ofertadas</h1>
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection">

		{% if msgerr.id == '1' %}
			<div id = "error"><img src="/complementaria/web/img/error.png"/>No hay actividades complementarias ofertadas!</div>		
		{% else %}
			
			<table class = "generalTableHead">
				<tbody>
					<tr class="tableHead">
						<th style=" width:75%"></th> 
						<th><h2>PROFESOR</h2></th>
						<th></th>
						<th></th>
					</tr> <!--tablehead -->
				</tbody>
			</table><!-- practicantes tableHead -->

			<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;">
		
				<table class = "generalTable">
				<tbody>
			
					{% set id = 1 %}
					<tr class="spacer"></tr>
					{% for actividad in listaActividades %}
					<tr class="tableItem">
						<td id="hoverDiv">
							<td><h2>{{ id }}</h2></td>
							<td style=" width:65%"><span style="margin-left:5px; ">{{ actividad.nombre }}</span></td>
							<td style=" width:15%"><span>{{ actividad.profesor.nombres }}</span></td>
							<td style=" width:15%"><span>{{ actividad.profesor.apellidos }}</span></td>
							
							<td>
								<table class="opciones" style="right:129px">
									<td>
									<a href="{{ path('ingenieria_estudiante_actividad' , { 'id': actividad.id}) }}"><img src="{{ asset('img/editar.png') }}" ><h3> Ver </h3></a>
									</td>
								</table>
							</td>


							<td></td>
						</td> <!-- hoverDiv -->
					</tr>
					{% set id = id + 1 %}
					<tr class="spacer"></tr>
					{% endfor %}
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
				</tbody>
				</table><!-- generalTable -->
			</div><!-- scrollDiv -->
			</div><!-- downSection -->
		{% endif %}
		{% endblock %}

</div>

<script>
$( ".tableItem" ).mouseenter(function() {
		var opciones = $('.opciones', this);
		var itemPicture = $('.itemImgContainer', this);
		$(itemPicture).css("border-color","#ec1c24");

		$( opciones).animate({
			opacity: 1,
			top: "-30px",
		}, 300, function() {
	    // Animation complete.
	});
	});

	$( ".tableItem" ).mouseleave(function() {
		var itemPicture = $('.itemImgContainer', this);
		var opciones = $('.opciones', this);
		$(itemPicture).css("border-color","#242021");
		$( opciones).animate({
			opacity: 0,
			top: "0px",
		}, 300, function() {
	    // Animation complete.
	});
	});
</script>
{% endblock %}

