{% extends 'IngenieriaEstudianteBundle::layout.html.twig' %}

{% block programa %}
AppWeb - Estudiante
{% endblock %}

{% block js  %}
<script>
$( "#cronograma" ).css("background-color","#000");
$( "#cronograma img" ).css("opacity","0.4");
$( "#cronograma h3" ).css("opacity","0.4");
</script>

{% endblock %}
{% block javascripts %}
	<meta charset="utf-8">
	 <title>jQuery UI Datepicker - Default functionality</title>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}


{% block content  %}
	{{ parent() }}
	
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
				<h1 class ="sectionTitle">Mi cronograma</h1>
				<!--
				<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a> -->
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection"> 
					
			<table class = "tabla">
			  <tr class="tableHeader">
				<th>Actividad</th>
				<th>Fecha de entrega</th>
				<th>Estado</th>
			  </tr>
			<tr style="height:8px;"></tr>
		
			{% for a in cronograma %}
			  <tr>
				<td  class = "colActividad">{{ a.nombreActividad }}</td>
				<td  class = "colFecha">{{ a.fechaEntrega|date("d/m/Y") }}</td>
				{% if a.fechaEntrega > date() %}
					<td class = "colEstado">Aun no es fecha!</td>
				{% else %}
					{% if a.listo == false %}
						<td  class = "colEstado">Sin entregar!</td>
					{% else %}
						<td class = "colEstado">Entregada</td>
					{% endif %}
				{% endif %}
			  </tr>
			{% endfor %}
		</table>
		{% if msgerr.id == '1' %}
		<div id = "error">{{ msgerr.descripcion }}</div>	
		{% endif %}
			
	</div>	<!-- down section -->
	{% endblock  %}
	</div><!-- content -->
{% endblock %}

