{% extends 'IngenieriaEstudianteBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB  [Estudiante]
{% endblock %}

{% block js  %}
<script>
$( "#actividad" ).css("background-color","#000");
$( "#actividad img" ).css("opacity","0.4");
$( "#actividad h3" ).css("opacity","0.4");
</script>
{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Actividad complementaria</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
		
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection"> 
		<div class="profileContainer">
			
			<div class="profileFormContainer" style="height:700px;">
			<form action="" method="post">


				<div class="inputContainer">
					<h2 style="width: 96px;">Mentor:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.mentor }}" readonly style="width: 450px;">
					</div>
				</div>
					
				<div class="inputContainer">
					<h2 style="width: 96px;">Email:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.email }}" readonly style="width: 450px;">
					</div>
				</div>
				
				<div class="inputContainer">
					<h2 style="width: 96px;">Nombre de la actividad:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.nombre }}" readonly style="width: 450px;">
					</div>
				</div>

			    <div class="inputContainer">
					<h2 style="width: 96px;">Propósito:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.proposito }}" readonly style="width: 450px;">
					</div>
				</div>

			    <div class="inputContainer">
					<h2 style="width: 96px;">Dirigida:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.dirigida }}" readonly style="width: 450px;">
					</div>
				</div>
				
				<div class="inputContainer">
					<h2 style="width: 96px;">Descripción:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.descripcion }}" readonly style="width: 450px;">
					</div>
				</div>
				
				<div class="inputContainer">
					<h2 style="width: 96px;">URL:</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.url }}" readonly style="width: 450px;">
					</div>
				</div>
			</form>
			</div><!--profileFormContainer -->	
		</div><!--profileContainer -->	
	</div><!--donwsection -->
	{% endblock %}
</div><!-- content -->
{% endblock %}