{% extends 'IngenieriaProfesorBundle::layout.html.twig' %}

{% block programa %}
App WEB  [Profesor]
{% endblock %}

{% block js  %}
<script>
$( "#estudiantes" ).css("background-color","#000");
$( "#estudiantes img" ).css("opacity","0.4");
$( "#estudiantes h3" ).css("opacity","0.4");
</script>

{% endblock %}
{% block javascripts %}
	<meta charset="utf-8">
	 <title>jQuery UI Datepicker - Default functionality</title>
	 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 <script src="{{ asset('js/date.js') }}"></script>
{% endblock %}


{% block content  %}
	{{ parent() }}
	
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">  
				<h1 class ="sectionTitle">Cronograma del estudiante</h1>
				<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
				{% if (estudiante.aprobadoCronograma == false) and (msgerr.id == '1')%}
				<a href="{{ path('ingenieria_profesor_aprobarcronograma' , { 'id': estudiante.id}) }}" class = "button"><img src="{{ asset('img/listo.png') }}"/><h4>Aprobar</h4></a>
				{% endif %}
		</div>
		{% endblock  %}

		{% block downSection  %}
		
		<div class = "downSection"> 
		{% if msgerr.id == '1' %}
			<div id = "error">¡El estudiante no ha subido el cronograma de actividades!</div>		
			<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Enviar email</h4></a>
		{% else %}
			<table class = "generalTableHead">
				<tbody>
					<tr class="tableHead">
						<th style=" width:15%"></th> 
						<th style=" width:10%"><h2>Actividad</h2></th> 
						<th style=" width:40%"></th> 
						<th><h2>Fecha de entrega</h2></th>
						<th></th>
						<th></th>
					</tr> <!--tablehead -->
				</tbody>
			</table><!-- practicantes tableHead -->

			<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;">
				<table class = "generalTable">
				<tbody>
					{% set id = 1 %}
					<tr class="spacer"></tr>
					{% for actividad in cronograma %}
					<tr class="tableItem">
						<td id="hoverDiv">
							<td><h2>{{ id }}</h2></td>
							<td style=" width:60%"><span style="margin-left:5px; ">{{ actividad.nombreActividad }}</span></td>
							<td style=" width:15%"><span>{{ actividad.fechaEntrega|date("d/m/Y") }}</span></td>
							<td style=" width:15%"><span>{{ actividad.estado }}</span></td>
							<td></td>
						</td> <!-- hoverDiv -->
					</tr>
					{% set id = id + 1 %}
					<tr class="spacer"></tr>
					{% endfor %}
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
				</tbody>
				</table><!-- generalTable -->
		{% endif %}
		</div>	<!-- down section -->
	{% endblock  %}
	</div><!-- content -->
{% endblock %}
