{% extends 'IngenieriaProfesorBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB - [Profesor]
{% endblock %}

{% block js  %}
<script>
$( "#estudiantes" ).css("background-color","#000");
$( "#estudiantes img" ).css("opacity","0.4");
$( "#estudiantes h3" ).css("opacity","0.4");
</script>

{% endblock %}



{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Estudiantes</h1>

			<a href="" class="button">
				<img src="/complementaria/web/img/reloj.png">
				<h4>Morosos</h4>
			</a>
			
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection">

		{% if msgerr.id == '1' %}
			<div id = "error">{{ msgerr.descripcion }}</div>		
		{% else %}
			
			<table class = "generalTableHead">
				<tbody>
					<tr class="tableHead">
						<th style=" width:15%"></th> 
						<th style=" width:12%"></th> 
						<th></th> 
						<th style=" width:10%"><img src="{{ asset('img/idLabel.png') }}"/></th> 
						<th style=" width:25%"></th> 
						<th><img src="{{ asset('img/mailLabel.png') }}"/></th>
						<th></th>
						<th></th>
					</tr> <!--tablehead -->
				</tbody>
			</table><!-- practicantes tableHead -->

			<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;">
				<table class = "generalTable">
				<tbody>
					{% set id = 1 %}
					<tr class="spacer"></tr>
					{% for actividad in listaActividades%}
					{% for estudiante in actividad.estudiantes %}
					<tr class="tableItem">
						<td id="hoverDiv">
							<td><h2>{{ id }}</h2></td>
							<td style=" width:15%"><span style="margin-left:20px; ">{{ estudiante.nombres }}</span></td>
							<td style=" width:12%"><span>{{ estudiante.apellidos }}</span></td>
							<td style=" width:3%"></td>
							<td style=" width:8%"><span>{{ estudiante.ci }}</span></td>
							<td style=" width:8%"><span>{{ estudiante.codigo }}</span></td>
							<td></td>
							<td style=" width:1%"></td>
							<td style=" width:8%"><span>{{ estudiante.emailInstitucional }}</span></td>
							<td style=" width:8%"></td>
							<td style=" width:8%"><span>{{ estudiante.email }}</span></td>
							<td style=" width:25%"></td>
							<td>
								<table class="opciones" style="right:129px">
									<td style="width: 120px;"><a href="{{ path('ingenieria_profesor_cronograma' , { 'id': estudiante.id}) }}"><img src="{{ asset('img/cronograma.png') }}" ><h3> Cronograma </h3></a>
									</td>
								</table>
							</td>
						</td> <!-- hoverDiv -->
					</tr>
					{% set id = id + 1 %}
					<tr class="spacer"></tr>
					{% endfor %}
					{% endfor %}
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
				</tbody>
				</table><!-- generalTable -->
			</div><!-- scrollDiv -->
			</div><!-- downSection -->
		{% endif %}
		{% endblock %}

</div>

<script>
$( ".tableItem" ).mouseenter(function() {
		var opciones = $('.opciones', this);
		var itemPicture = $('.itemImgContainer', this);
		$(itemPicture).css("border-color","#ec1c24");

		$( opciones).animate({
			opacity: 1,
			top: "-30px",
		}, 300, function() {
	    // Animation complete.
	});
	});

	$( ".tableItem" ).mouseleave(function() {
		var itemPicture = $('.itemImgContainer', this);
		var opciones = $('.opciones', this);
		$(itemPicture).css("border-color","#242021");
		$( opciones).animate({
			opacity: 0,
			top: "0px",
		}, 300, function() {
	    // Animation complete.
	});
	});
</script>
{% endblock %}

