{% extends 'IngenieriaDirectorBundle::layout.html.twig' %}

{% block programa %}
APPWEB - Director 
{% endblock %}

{% block js  %}
{% endblock %}

{% block content  %}
{{ parent() }}
<div class="content">
	{% block upSection  %}
	<div class = "upSection">
		<h1 class="sectionTitle">Actividad complementaria</h1>
		<a href="javascript:history.back()" class = "button"><img src="{{ asset('img/regresar.png') }}"/><h4>Regresar</h4></a>
	</div>
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection"> 
		<div class="profileContainer">
			<div class="profileFormContainer" style="height:580px;">
			<form action="" method="post">
				<div class="inputContainer">
					<h2>Nombre</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.nombre }}" readonly class = "largo">
					</div>
				</div>


				<div class="inputContainer">	
					<h2>Url</h2>
					<div class="input nomodificable">
					<a href = "http://{{ actividad.url }}" target="_blank">{{ actividad.url }}</a>
					</div>
				</div>

				<div class="inputContainer">
					<h2>Categoría</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.categoria }}" readonly>
					</div>
				</div>

				<div class="inputContainer">
					<h2>Cupos</h2>
					<div class="input nomodificable">
					<input type="text" value = "{{ actividad.numeroCupos }}" readonly>
					</div>
				</div>

				<div class="inputContainer">
					<h2>Decripción</h2>
					<div class="input nomodificable">
					<textarea style="border:none !important; font-family:helvetica; margin-top:15px;" cols="40" rows="5" readonly>{{ actividad.descripcion }}</textarea>
					</div>
				</div>

			</form>
		</div><!--profileFormContainer -->	
		</div><!--profileContainer -->	
	</div><!--donwsection -->
	{% endblock %}
</div><!-- content -->
{% endblock %}
