{% extends '::base.html.twig' %}

{% block title %} Panel Principal:: Actividad complementaria UAO{% endblock %}

{% block stylesheets %}
{{ parent() }}	
{% endblock %}

{% block body %}
{{ parent() }}
{% endblock %}

{% block sideBarMenu %}
		<div id="menu">	
			<a href="{{ path('usuario_adm_homepage') }}" class="menubutton"  id="cursos">
				<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
				<h3>Cursos</h3>
			</a>
			<a href="{{ path('usuario_estudiantes') }}" class="menubutton"  id="estudiantes">
				<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
				<h3>Estudiantes</h3>
			</a>
			<a href="{{ path('usuario_profesores') }}" class="menubutton"  id="profesores">
				<img id="externoIcon" src="{{ asset('img/externoIcon.png') }}">
				<h3>Tutores</h3>
			</a>
			<a href="{{ path('usuario_actividades') }}" class="menubutton"  id="actividades">
				<img id="externoIcon" src="{{ asset('img/actividad.png') }}">
				<h3>Actividades</h3>
			</a>
			<a href="{{ path('usuario_categorias') }}" class="menubutton"  id="categorias">
				<img id="externoIcon" src="{{ asset('img/cronograma.png') }}">
				<h3>Categorías</h3>
			</a>
		</div>
{% endblock  %}

{% block upSection %} 
{% endblock %}

{% block downSection %} 
{% endblock %}
