{% extends 'IngenieriaUsuarioBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB - [Administrador]
{% endblock %}

{% block js  %}
<script>
$( "#actividades" ).css("background-color","#000");
$( "#actividades img" ).css("opacity","0.4");
$( "#actividades h3" ).css("opacity","0.4");
</script>
{% endblock %}

{% block content  %}
{{ parent() }}
	<div class="content">
		{% block upSection  %}
		<div class = "upSection">
			<h1 class ="sectionTitle">Actividades</h1>
<a href="{{ path('usuario_registrar_actividad') }}" class = "button"><img src="{{ asset('img/anadirActividad.png') }}"/><h4>Nueva Actividad</h4></a>
		</div>
		{% endblock  %}

		{% block downSection  %}
		<div class = "downSection">
		{% if msgerr.id == '1' %}
			<div id = "error">{{ msgerr.descripcion }}</div>		
		{% else %}
			
			<table class = "generalTableHead">
				<tbody>
					<tr class="tableHead">
						<th style=" width:73%"></th> 
						<th><img src="{{ asset('img/practicanteIcon.png') }}"/></th>
						<th style=" width:9%"></th> 
						<th><img src="{{ asset('img/numeroVacantes.png') }}"/></th> 
					</tr> <!--tablehead -->
				</tbody>
			</table><!-- practicantes tableHead -->

			<div style="width: 100%; height: 750px; overflow: auto; position:relative; padding-bottom:30px;">
		
				<table class = "generalTable">
				<tbody>
					{% set id = 1 %}
					<tr class="spacer"></tr>
					{% for actividad in listaActividades %}
					<tr class="tableItem">
						<td id="hoverDiv">
							<td style=" width:1%"><h2>{{ id }}</h2></td>
							<td style=" width:60%"><span style="margin-left:30px; ">{{ actividad.nombre }}</span></td>
							<td style=" width:25%"><span style="margin-left:30px; ">{{ actividad.mentor }}</span></td>							
							<td>
								<table class="opciones" style="right:129px">
									<td style="width: 100px;">
									<a href="{{ path('usuario_matricula' , { 'id': actividad.id}) }}">
									<img src="{{ asset('img/editar.png') }}" ><h3> Matrícula </h3></a>
									</td>
									<td style="width: 100px;">
									<a href="{{ path('usuario_actualizar_actividad' , { 'id': actividad.id}) }}">
									<img src="{{ asset('img/editar.png') }}" ><h3> Actualizar </h3></a>
									</td>

								</table>
								{{ actividad.numeroCupos }}
							</td>
						</td> <!-- hoverDiv -->
					</tr>
					{% set id = id + 1 %}
					<tr class="spacer"></tr>
					{% endfor %}
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
					<tr class="spacer"></tr>
				</tbody>
				</table><!-- generalTable -->
			</div><!-- scrollDiv -->
			</div><!-- downSection -->
		{% endif %}
		{% endblock %}
</div>

<script>
$( ".tableItem" ).mouseenter(function() {
		var opciones = $('.opciones', this);
		var itemPicture = $('.itemImgContainer', this);
		$(itemPicture).css("border-color","#ec1c24");

		$( opciones).animate({
			opacity: 1,
			top: "-30px",
		}, 300, function() {
	    // Animation complete.
	});
	});

	$( ".tableItem" ).mouseleave(function() {
		var itemPicture = $('.itemImgContainer', this);
		var opciones = $('.opciones', this);
		$(itemPicture).css("border-color","#242021");
		$( opciones).animate({
			opacity: 0,
			top: "0px",
		}, 300, function() {
	    // Animation complete.
	});
	});
</script>
{% endblock %}
