{% extends 'IngenieriaUsuarioBundle::layout.html.twig' %}

{% block programa %}
Aplicación WEB  [Administrador]
{% endblock %}

{% block js  %}
<script>
	$( "#estudiantes" ).css("background-color","#000");
	$( "#estudiantes img" ).css("opacity","0.4");
	$( "#estudiantes h3" ).css("opacity","0.4");
</script>
{% endblock %}

{% block content  %}
{{ parent() }}

<div class="content">
	{% block upSection  %}
	<div class = "upSection" style="height:60px;">
		<h1 class ="sectionTitle">Bitácora de trabajo semanal</h1>
		<h2 style="color: black !important; position: absolute; right:3%; font-weight:bold">{{ estudiante.nombres }} {{ estudiante.apellidos }}</h2>
		<h2 style="color: black !important;  position: absolute; right:3%; top:45px;">{{ estudiante.email }} {{ estudiante.emailInstitucional }}</h2>
		<!--
			<a href="{{ path('ingenieria_estudiante_registrar_actvidad_semanal' , { 'codigo': estudiante.codigo}) }}" class = "button"> <img src="{{ asset('img/anadirActividad.png') }}"/>
			<h4>Actividad</h4>
			</a>
		-->
	</div> <!-- up section -->
	{% endblock  %}

	{% block downSection  %}
	<div class = "downSection"> 
		<table class = "tabla" id = "tabla">
			<tr class="tableHeader">
				<th>Actividad</th>
				<th>Fecha inicio</th>
				<th>Fecha fin</th>
				<th>Finalizada</th>
				<th>Verificada</th>
			</tr>
			<tr style="height:8px;"></tr>
			{% for a in bitacora %}
			<tr>
				<td  class = "colActividad">{{ a.nombreActividad }}</td>
				<td  class = "colFecha">{{ a.fechaInicio|date("d/m/Y") }}</td>
				<td  class = "colFecha">{{ a.fechaFin|date("d/m/Y") }}</td>
				{% if a.finalizada == false%}
					<td class = "colEstado">No</td>
     			{% else %}
					<td class = "colEstado">Si</td>
				{% endif %}
				
				{% if a.verificado == true %}
				<td class = "colEstado"><input class="check_verificado" type="checkbox" name="vehicle1" value={{ a.id }} checked="checked" disabled="disabled"></td>
				{% else %}
				<td class = "colEstado"><input class="check_verificado" type="checkbox" name="vehicle1" value={{ a.id }} disabled="disabled"></td>
				{% endif %}
			
				<!-- 
				{% if estudiante.aprobadoCronograma == false %}
					<td><a  class="eliminaa"><img src="/complementaria/web/img/delete.png"/></a></td>
				{% else %}
					{% if a.fechaEntrega > date() %}
						<td class = "colEstado">Aun no es fecha!</td>
					{% else %}
						{% if a.estado == false %}
						<td  class = "colEstado">Sin entregar!</td>
						{% else %}
						<td class = "colEstado">Entregada</td>
						{% endif %}
					{% endif %}
				{% endif %}
				-->
			</tr>
			{% endfor %}
		</table>
	
		{% if bitacora.count == 0 %}
		<div id = "error"><img src="/complementaria/web/img/error.png"/>{{ msgerr.descripcion }}</div>	
		{% endif %}
		<input id="ruta" type="hidden" name="ruta" value="{{ path('ingenieria_profesor_verificarActividad') }}">
	</div>	<!-- down section -->
	{% endblock  %}
</div><!-- content -->
{% endblock %}